@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
	margin: 0;
	background-color: rgb(255, 255, 255);
	outline: none;
    padding: 0;
	
}
*{
	box-sizing: border-box;
}

ul,p{
	margin: 0;
	padding: 0;
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;	
	outline: none;
}

.wrapper{
	max-width: 1170px;
	margin: 0 auto;
}

img{
	max-width: 100%;
}